<title><%= title %></title>
<h1><%= title.charAt(0).toUpperCase() + title.slice(1) %></h1>

<% if (typeof message !== 'undefined' && message) { %>
<div class="flash-message"><%= message %></div>
<% } %>

<form class="login-form" action="/account/login" method="post">
  <label for="email">Email:</label>
  <input type="email" id="email" name="account_email" required />

  <label for="password">Password:</label>
  <input type="password" id="password" name="account_password" required />

  <button type="submit">Login</button>

  <p>
    Don't have an account? <br />
    <a href="/account/register">Sign-up</a>
  </p>
</form>
