<h1>Welcome to CSE Motors!</h1>
<%- messages() %>

<div class="car-wrapper">
  <div class="car-details">
    <h3>DMC Delorean</h3>
    <p>
      3 Cup holders<br />
      Superman doors<br />
      Fuzzy dice!
    </p>
    <button
      style="
        background: #00bfae;
        color: black;
        font-weight: bold;
        border: none;
        padding: 6px 12px;
        border-radius: 5px;
      "
    >
      Own Today
    </button>
  </div>
  <img
    class="cars-picture"
    src="/images/vehicles/delorean.jpg"
    alt="CSE Motors - Your Trusted Car Dealership"
  />
</div>

<div class="container">
  <div class="reviews">
    <h2>Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>

  <div class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrades-grid">
      <div class="upgrade-item">
        <div class="upgrade-item-bg">
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" />
        </div>
        <a href="#" class="standalone-link">Flux Capacitor</a>
      </div>
      <div class="upgrade-item">
        <div class="upgrade-item-bg">
          <img src="/images/upgrades/flame.jpg" alt="Flame Decals" />
        </div>
        <a href="#" class="standalone-link">Flame Decals</a>
      </div>
      <div class="upgrade-item">
        <div class="upgrade-item-bg">
          <img
            src="/images/upgrades/bumper_sticker.jpg"
            alt="Bumper Stickers"
          />
        </div>
        <a href="#" class="standalone-link">Bumper Stickers</a>
      </div>
      <div class="upgrade-item">
        <div class="upgrade-item-bg">
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" />
        </div>
        <a href="#" class="standalone-link">Hub Caps</a>
      </div>
    </div>
  </div>
</div>
