<!-- 
The content heading
-->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- 
Message Block
-->
<%# messages() %>

<!-- 
Inventory items displayed on a grid
-->
<%- grid %>
