<!-- 
The content heading
-->
<% if (title) { %>
<h1 class="management-title"><%= title %></h1>
<% } else { res.redirect('/') } %>

<h3 class="management-subtitle">Select One Option</h3>

<!-- 
Message Block
-->
<%- messages() %>

<!-- 
Links to handle inventory management
-->
<nav class="management-links">
  <ul>
    <li>
      <a href="/inv/add-classification">Add New Classification</a>
    </li>
    <li>
      <a href="/inv/add-inventory">Add New Inventory</a>
    </li>
  </ul>
</nav>
