<% if (title) { %>
<h1 class="status-error"><%= title %></h1>
<img
  class="img-error"
  src="/images/site/delorean-mcfly.png"
  alt="Delorean Error"
/>
<% } %>
<p class="error-message"><%- message %></p>
